*{
    padding: 0;
    margin: 0;
    list-style: none;
}


body{
    background-color: aquamarine;
}

.container{
    margin: 0 auto;
}
.items{
    width: 950px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  
}
.movie{
    width: 20%;
    background-color: white;
    
}
.imag{
    width: 95%;


}
.movie img {
    width: 100%;

}